<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr no</th>
                    <th>Category Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of products$ | async; let index = index">
                    <td>{{index+1}}</td>
                    <td>{{prod.categoryName}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>